.logo::before {
    content: '';
    display: block;
    width: 108px;
    height: 30px;
    background-repeat: no-repeat !important;
    background-position: 0px 0px;
    background-size: auto 30px !important;
    
}
